.btn {
  outline: none;
  background: transparent;
  border-radius: 5px;
  width: 100%;
  padding: 15px 10px;
  cursor: pointer;
  transition: all .4s;

  &__primary,
  &__secondary {
    font-weight: 600;
    font-size: 16px;
  }

  &__primary {
    border: 2px solid $red-color;
    color: $red-color;

    &:hover {
      background: $red-color;
      color: $white-color;
    }
  }

  &__secondary {
    border: 2px solid $base-color;
    color: $base-color;

    &:hover {
      background: $base-color;
      color: $white-color;
    }
  }

  &__login {
    @extend .btn__secondary;
    font-weight: 500;
    border-radius: 50px;
    padding: 8px;
    width: 80%;
    margin: 20px auto;
  }

  &__confirm {
    text-transform: uppercase;
    border: 2px solid $red-color;
    background-color: $red-color;
    color: $white-color;
    font-weight: 600;
    font-size: 15px;
    padding: 25px;

    &:hover {
      background-color: $white-color;
      color: $red-color;
    }
  }
}