// BASIC APP STYLES

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  padding: 20px 10px;

  // CSS GRID styles for different screens sizes

  // 1. Mobile screen
  grid-template-columns: minmax(280px, 340px);
  grid-template-areas: 
  "first"
  "second"
  "third"
  "fourth";

  // 2. Tablet screen
  @media screen and (min-width: 768px) {
    padding: 20px;
    grid-template-columns: repeat(2, 330px);
    grid-template-areas: 
    "first second"
    "first second"
    "first third"
    "first third"
    "first fourth"
    "first fourth"
  }
  // 3. Desktop screen
  @media screen and (min-width: 1096px) {
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(14, 50px);
    grid-template-areas:
    "first second fourth"
    "first second fourth"
    "first second fourth"
    "first second fourth"
    "first third fourth"
    "first third fourth";
  }
}

// BASIC SECTION STYLES
.section {

  &:first-child {
    grid-area: first;

    @media screen and (min-width: 768px) and (max-width: 1096px) {
      align-self: center;
    }
  }

  &:nth-child(2) {
    grid-area: second;
  }

  &:nth-child(3) {
    grid-area: third;
  }

  &:last-child {
    grid-area: fourth;
  }

  &__header {
    display: flex;
    padding: 16px;
    background: $base-color;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: center;

    @media screen and (min-width: 380px) {
      justify-content: unset;
    }
  }

  &__title,
  &__icon {
    color: $white-color;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 15px;
  }

  &__icon {
    font-size: 20px;
  }
}

// SECTION PAYMENT
.payment {
  .message {
    margin-bottom: 20px;
  }
}

/* ORDER SUMMARY STYLES */
.order {
  &__summary {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 90px;
    height: 60px;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
    margin-right: 10px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__product {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__quantity {
    display: flex;
    align-items: center;

    &-input {
      margin-bottom: 0;
      margin-left: auto;
    }

    input[type="number"] {
      width: 60px;
      padding: 5px 5px 5px 15px;
      text-align: center;
    }
  }

  &__price {
    margin-left: auto;
  }

  &__info {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px dashed $border-color;
    border-bottom: 1px dashed $border-color;

    h3,
    p {
      display: flex;

      span {
        margin-left: auto;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }

  &__cta,
  .formulate-input-textarea {
    margin-bottom: 20px;
  }

  textarea {
    resize: none;
    height: 80px;

    &:focus {
      background: $light-grey;
      border-color: $border-grey !important;
    }
  }

  &__cta {
    a {
      text-decoration: none;
      color: #6998c5;
    }
  }
}

// ANIMATION STYLES
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// LOADER STYLES
.loader {
  display: flex;
  justify-content: center;

  &__text {
    margin-right: 15px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
  }

  &__icon {
    font-size: 20px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// MESSAGE STYLES
.message {
  text-align: center;
  padding: 10px;
  border: 1px solid $red-color;
  border-radius: 5px;

  &__text {
    font-weight: 600;

    &--danger {
      color: $red-color;
    }
  }
}