/* BASIC COLOR VARIABLES */

$base-color: #a89f8f;
$red-color: #e54444;
$green-color: #27ae60;
$white-color: #ffffff;
$black-color: #000000;
$light-grey: #e4edfd;
$border-color: #a7c8c9;
$border-grey: #cecece;
$border-grey-dark: #95a5a6;